{{>header}}

<div>
    <br>

	<h2>Partidos Disputados</h2>

    <br>

    <ul class="items">
        {{#partidos}}
        <li><a href="/partidos/{{id}}">{{#equiposParticipantes}} {{nombre}} <br> {{/equiposParticipantes}}</a></li>
        <br>
        {{/partidos}}
    </ul>

    {{#logged}}

    {{#admin}}
    <div>
        <button onclick="location.href='/partidos/new'">Nuevo Partido</button>
    </div>
    {{/admin}}
    {{/logged}}

	<br>
    
    <div>
        <button onclick="location.href='/'">Volver</button>
	</div>
</div>

{{>footer}}