{{>header}}

<div>
    <br>

	<form action="/partidos/new" method="post" enctype="multipart/form-data">
		<h2>Nuevo Partido</h2>
		<div>
			<label>Equipo Local: </label>
			<select name="equiposParticipantes">
				{{#equipos}}
				<option value="{{id}}">{{nombre}}</option>
				{{/equipos}}
			</select>

			<label>Goles: </label>
            <input type="number" name="golesLocal" placeholder="Goles"/>
		</div>

		<div>
			<label>Equipo Visitante: </label>
			<select name="equiposParticipantes">
				{{#equipos}}
				<option value="{{id}}">{{nombre}}</option>
				{{/equipos}}
			</select>

			<label>Goles: </label>
            <input type="number" name="golesVisitante" placeholder="Goles"/>
		</div>

		<p>
            <button onclick="location.href='/partidos'; return false;">Cancelar</button>
            <input type="submit" value="Save"/>
        </p>
	</form>
</div>

{{>footer}}