{{>header}}

<div>
    <br>

	<form action="/comunicados/new" method="post" enctype="multipart/form-data">
        <h2>Nuevo Comunicado de la Liga</h2>

        <br>

        <div>
            <label>Título: </label>
            <input name="titulo" placeholder="Título"/>
        </div>

        <div>
            <label>Contenido: </label>
            <textarea name="contenido" placeholder="Contenido" style="width:300px; height:200px;"></textarea>
        </div>

        <br>

        <input type="hidden" name="_csrf" value="{{token}}"/>
        
        <p>
            <button onclick="location.href='/'; return false;">Cancelar</button>
            <input type="submit" value="Enviar"/>
        </p>
    </form>
</div>

{{>footer}}