<html>
<body>
	<form action="/equipos/{{equipo.id}}/jugadores/new" method="post" enctype="multipart/form-data">
        <h2>Nuevo Jugador</h2>
        <div>
            <label>Nombre: </label>
            <input name="nombre" placeholder="Nombre"/>
        </div>

        <div>
            <label>Apellidos: </label>
            <input name="apellidos" placeholder="Apellidos"/>
        </div>

        <div>
            <label>Dorsal: </label>
            <input type="number" name="dorsal" placeholder="Dorsal"/>
        </div>

        <p>
            <button onclick="location.href='/equipos/{{equipo.id}}'; return false;">Cancelar</button>
            <input type="submit" value="Save"/>
        </p>
    </form>
</body>
</html>