{{>header}}

<div>
    <br>

	<h1>¡Bienvenido a Emperors League!</h1>
	<h3>La liga de fútbol profesional más competitiva</h3>

	<br>
	
	<div>
		<p> Clasificación General -> <button onclick="location.href='/clasificacion'">Clasificación</button></p>
	</div>

	<br>
	
	<div>
		<p> Partidos Disputados -> <button onclick="location.href='/partidos'">Partidos</button></p>
	</div>

	<br>
	
	<div>
		<p> Equipos de la Liga -> <button onclick="location.href='/equipos'">Equipos</button></p>
	</div>

	{{#admin}}
	<br><br>
	
	<div>
		<p> Enviar Nueva Comunicación de la Liga -> <button onclick="location.href='/comunicaciones/new'">Nueva Comunicación</button></p>
	</div>
	{{/admin}}

</div>

{{>footer}}