{{>header}}

<div>
    <br>

    <h2>Clasificación de la Liga</h2>

    <br>

    <div>
        <table class="default" style="width: 50%;">
            <thead>
                <tr style="text-align:center;">
                    <th>Puesto</th>
                    <th>Equipo</th>
                    <th>Puntos</th>
                </tr>
            </thead>

            <tbody style="height: 50px;">
                <tr style="text-align:center;">
                    <td>1</td>
                    <td>Real Madrid</td>
                    <td>6</td>
                </tr>
                <tr style="text-align:center;">
                    <td>2</td>
                    <td>Barcelona</td>
                    <td>3</td>
                </tr>
                <tr style="text-align:center;">
                    <td>3</td>
                    <td>Getafe</td>
                    <td>0</td>
                </tr>              
            </tbody>
        </table>
    </div>
    
    <br>

    <div>
        <button onclick="location.href='/'">Volver</button>
    </div>
</div>

{{>footer}}