{{>header}}

<div>
    <br>
    
    <h2>{{jugador.nombre}} {{jugador.apellidos}}</h2>

    <br>

    <div>
        <p>Equipo: {{jugador.equipo.nombre}}</p>
        <p>Dorsal: {{jugador.dorsal}}</p>
    </div>

    <br>

    <div>
        <button onclick="location.href='/equipos/{{equipo.id}}/jugadores/{{jugador.id}}/edit'">Editar Jugador</button>
        <button onclick="location.href='/equipos/{{equipo.id}}/jugadores/{{jugador.id}}/delete'">Eliminar Jugador</button>
    </div>
    
    <br>

    <button onclick="location.href='/equipos/{{equipo.id}}'">Volver</button>
</div>

{{>footer}}