{{>header}}

<div>
    <br>

    <h2>Clasificación de la Liga</h2>

    <br>

    <div>
        <table class="default" style="width: 50%;">
            <thead>
                <tr style="text-align:center;">
                    <th>Puesto</th>
                    <th>Equipo</th>
                    <th>Puntos</th>
                </tr>
            </thead>

            <tbody style="height: 50px;">
                    {{#clasificacion.equipos}}
                    <tr style="text-align:center;">
                        <td>{{ranking}}</td>
                        <td>{{nombre}}</td>
                        <td>{{puntos}}</td>
                    </tr>
                    {{/clasificacion.equipos}}
            </tbody>
        </table>
    </div>
    
    <br>

    <div>
        <button onclick="location.href='/'">Volver</button>
    </div>
</div>

{{>footer}}