{{>header}}

<div>
    <br>

    <h2>{{equipo.nombre}}</h2>

    <br>

    <div>
        <h3>Jugadores:</h3>
        <ul class="items">
            {{#equipo.jugadores}}
            <li><a href="/equipos/{{equipo.id}}/jugadores/{{id}}">{{nombre}} {{apellidos}}</a></li>
            {{/equipo.jugadores}}
        </ul>
    </div>

    <div>
        <button onclick="location.href='/equipos/{{equipo.id}}/jugadores/new'">Nuevo Jugador</button>
    </div>
    
    <br>

    <div>
        <button onclick="location.href='/equipos/{{equipo.id}}/edit'">Editar Equipo</button>
        <button onclick="location.href='/equipos/{{equipo.id}}/delete'">Eliminar Equipo</button>
    </div>
    
    <br>

    <div>
        <button onclick="location.href='/equipos'">Volver</button>
    </div>
</div>

{{>footer}}