{{>header}}

<div>
    <br>

	<form action="/signup" method="post" enctype="multipart/form-data">
        <h2>Registro</h2>

        <br>

        <div>
            <label>Nombre: </label>
            <input type="text" name="nombre" placeholder="Nombre"/>
        </div>

        <br>

        <div>
            <label>Contraseña: </label>
            <input type="password" name="contrasena" placeholder="Contraseña"/>
        </div>

        <br>

        <div>
            <label>Correo electrónico: </label>
            <input type="email" name="correo" placeholder="Correo electrónico"/>
        </div>

        <br>

        <input type="hidden" name="_csrf" value="{{token}}"/>

        <p>
            <button onclick="location.href='/'; return false;">Cancelar</button>
            <input type="submit" value="Registrarse"/>
        </p>
    </form>
</div>

{{>footer}}